
 
body {
    background: lightgoldenrodyellow
}

#h1 {
    float: left;
    
}



#img { 
    width: 300px;
    height: 400px;
}

#fonts1 {
    font-family: 'Roboto Slab', serif;
    font-family: 'PT Serif', serif;
}

#fonts2 {
    font-family: 'Caveat', cursive;
    font-family: 'Tangerine', cursive;
}

#div.a {
   margin: 4px;
}

#div.b {
    line-height: normal;

}

