
 
body {
    background: lightgoldenrodyellow
}

#h1 {
    float: left;
    
}



#img { 
    width: 300px;
    height: 400px;
}

#fonts1 {
    font-family: 'Roboto Slab', serif;
    font-family: 'PT Serif', serif;
}

#fonts2 {
    font-family: 'Caveat', cursive;
    font-family: 'Tangerine', cursive;
}

div{
width: 30em;
margin: -100;
max-width: 100%;
line-height: 1.5;
font-size: 20px;
}

a {
    color: antiquewhite;
  
}
#header 

a:link {
color: rgb(225, 255, 170);
}

a:visited {
color: rgb(207, 202, 245);
}


a:hover {
color: red;
}


a:active {
color: yellow;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

